.jumbotron {
	
    background-image: url("https://images.unsplash.com/photo-1474440692490-2e83ae13ba29?dpr=1&auto=compress,format&fit=crop&w=1350&h=&q=80&cs=tinysrgb&crop=");
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 1439px;
    height: 547px;
    border-radius: 5px;
    text-align: center;

   
}


#broccoli {
    width: 59px;
    height: 56px;
    object-fit: contain;
    align-content: left;
    float: left;
    margin-left: 30px;
  
  
}

#title {
    padding-top: 7px;
}

#smallHeader {
  width: 327px;
  height: 46px;
  font-family: 'Open Sans', sans-serif;
  font-size: 34px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #ffffff;
  align-content: left;
  
  
}


#section-browse {
    padding-bottom: 5%;

}

.lead {
    font-size: 16px;
}
.img-container {
    float: center-right;
	padding-top: 55px;
	padding-bottom: 20px;
}
.row2 {

	background-color: #f2f2f2;
}

#input {
    width: 839px;
    height: 81px;
    border-radius: 5px;
    color: black;
    
}

#searchSubmit {
    height: 81px;
    
    color: white;
    border-radius: 5px;
    background-color: #9ACD32;
    float: right;

}

#rectangle {
    display: inline-block;
    position: relative;

}