.jumbotron {
	text-align: center;
	margin-bottom: 1%;
    background: mediumturquoise;
    color: white;
    font-family: sans-serif;
	padding:128px 16px
}
.text-muted {
    color: white;
    font-size: 12px;
}
#section-browse {
    padding-bottom: 5%;

}

.lead {
    font-size: 16px;
}
.img-container {
    float: center-right;
	padding-top: 55px;
	padding-bottom: 20px;
}
.row2 {

	background-color: #f2f2f2;
}
/*.img-container2 {
    float: center-left;
	padding-top: 55px;
	padding-bottom: 20px;
}*/
